body {background: lightgrey;}
#header {margin: 25px 0;}
#search-form {margin-bottom: 30px;}
#search-input {box-shadow: 0 2px grey}
.gif-rw, #search-block {margin: auto; width: 50%;}
#loader{position: absolute; display: inline-block; z-index: 1; margin: 0 5px;
    border: 5px solid #f3f3f3; border-radius: 50%; border-top: 5px solid #3498db; width: 20px; height: 20px;
    -webkit-animation: spin 2s linear infinite; animation: spin 1s linear infinite;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); }
  }
  @keyframes spin {
    0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }
  }
.gif-box{width: 200px; height: 200px; margin: 5px; border:1px solid white; background: white; padding: 50px 20px;}

@media only screen and (max-width: 335px){
  .gif-box{width: 135px; height: 135px; margin: 10px; border:1px solid white; background: white; padding: 5px 5px;}
}

@media only screen and (max-width: 365px) and (min-width: 340px){
  .gif-box{width: 145px; height: 145px; margin: 10px; border:1px solid white; background: white; padding: 5px 5px;}
}

@media only screen and (max-width: 400px) and (min-width: 375px){
  .gif-box{width: 165px; height: 165px; margin: 7px; border:1px solid white; background: white; padding: 5px 5px;}
}

@media only screen and (max-width: 420px) and (min-width: 401px){
  .gif-box{width: 175px; height: 175px; margin: 10px; border:1px solid white; background: white; padding: 5px 5px;}
}